configuration {
    display-drun: "Apps";
    display-window: "Windows";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 10";
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
}

@import "~/.cache/wal/colors-rofi-dark.rasi"

window {
    width: 600px;
}

element-icon {
    size: 24px;
    margin: 0px 10px 0px 0px;
}
